<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            {{#each articles}}
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>
                        {{this.content}}
                    </p>

                    <small class="author">
                        {{this.User.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-warning btn-xs" href="/article/edit/{{this.id}}">EDIT</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{this.id}}">DELETE</a>
                            <a class="btn btn-primary btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            {{/each}}
        </div>
    </div>
</div>
