{% extends 'base.html.twig' %}
{% block main %}
    <div class="container body-content">
        <div>
            <h1>All your articles</h1>
            <br>
        </div>
        <div class="row">
            {% for article in articles %}
                <div style="">
                    <div class="col-sm-5 well" style="word-wrap: break-word; margin-right: 20px">
                        <article>
                            <header >
                                <h2 style="margin-top: 10px">{{ article.titleSummary }}</h2>
                            </header>

                            <p>
                                {{ article.summary }}
                            </p>

                            <footer>
                                <div class="pull-right">
                                    <a class="btn btn-warning btn-xs"
                                       href="{{ path('article_edit', {'id':article.id}) }}">EDIT</a>
                                    <a class="btn btn-danger btn-xs"
                                       href="{{ path('article_delete', {'id':article.id}) }}">DELETE</a>
                                    <a class="btn btn-primary btn-xs"
                                       href="{{ path('article_details', {'id':article.id}) }}">Read more &raquo;</a>
                                </div>
                            </footer>
                        </article>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}